* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

.userInfo {
    height: 100vh;
    width: 100%;
    /* background-color: #333; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.userInfo .login {
    height: 60vh;
    width: 90vh;
    overflow: hidden;
    border-radius: .33vh;
    background-color: rgb(131, 130, 130);
    display: flex;    
    align-items: center;
    box-shadow: -1px 1px 8px rgba(128, 128, 128, 0.253);
}

.login .left {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.left_content {
    height: 100%;
    width: 70%;
    padding: 4vh 1vh;
    display: flex;
    align-items: center;
    font-family: roboto;
    flex-direction: column;
}

.login .left h2 {
    font-size: 3vh;
}

.login .left p {
    font-size: 1.2vh;
    margin-top: 1vh;
}


.login .left .google_login {
    border: 1px solid rgba(202, 200, 200, 0.555);
    padding: 1vh;
    border-radius: 3vh;
    margin-top: 3vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.login .left .google_login:hover {
    background-color: rgba(202, 200, 200, 0.13);
}


.google_login img {
    object-fit: cover;
    height: 2vh;
    margin-right: 1vh;
}

.google_login h3 {
    font-size: 1.2vh;
    text-transform: capitalize;
    font-family: roboto;
    font-weight: 400;
}

.orSignIn {
    margin-top: 2vh;
    background: rgba(202, 200, 200, 0.253);
    width: 100%;
    margin-bottom: 1vh;
}

.orSignIn .line {
    height: .25vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.orSignIn .line a {
    background-color: #FFF;
    font-size: 1vh;
    text-decoration: none;
    color: gray;
    padding: .4vh 1vh;
}

.left_content .email {
    height: 2.5vh;
    width: 100%;
    margin-top: 3vh;
}

.left_content .email h2 {
    font-size: 1.2vh;
    font-weight: 400;
}

.left_content .email .input {
    height: 4vh;
    border: .1px solid rgba(202, 200, 200, 0.253);
    border-radius: 2vh;
    overflow: hidden;
    margin-top: .8vh;
}

.left_content .email .input input {
    height: 100%;
    width: 100%;
    padding: 0vh 2vh;
    outline: none;
    border: none;
    font-size: 1.2vh;
}

.left_content .pass {
   height: 2.5vh;
    width: 100%;
    margin-top: 6vh;
}

.left_content .pass h2 {
    font-size: 1.2vh;
    font-weight: 400;
}

.left_content .pass .input {
    height: 4vh;
    border: .5px solid rgba(202, 200, 200, 0.253);
    border-radius: 2vh;
    overflow: hidden;
    margin-top: .8vh;
} 

.left_content .pass .input input {
    height: 100%;
    width: 100%;
    padding: 0vh 2vh;
    outline: none;
    border: none;
    font-size: 1.2vh;
}

.left_content .remember {
    margin-top: 5vh;
    font-size: 1.2vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
}

.remember #remember-check {
    display: flex;
    gap: .7vh;
}

#remember-check input[type="checkbox"] {
    accent-color: royalblue;
}

.left_content .loginBtn {
    background: royalblue;
    width: 100%;
    margin-top: 2vh;
    padding: 1vh 2vh;
    text-align: center;
    border-radius: 5vh;
    color: #fff;
    font-size: 1.5vh;
    cursor: pointer;
}

.left_content .loginBtn:hover {
    background-color: rgb(58, 97, 212);
}

.left_content #registered {
    font-size: 1.2vh;
    font-weight: 400;
    margin-top: 1.3vh;
    cursor: pointer;
}

#registered span { 
    color: royalblue;
}

.login .right {
    height: 100%;
    width: 50%;
    background-color: royalblue;
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: center;
}

.login .right img {
    object-fit: cover;
    height: 30vh;
}

@media (max-width: 600px) {
    .userInfo .login {
        box-shadow: none;
    }

    .login .left {
        width: 100%;
    }

    .login .left .left_content { 
        width: 100%;
        padding: 5vh;
    }

    .login .right {
        display: none;
    }
}