* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

.userInfo {
    height: 100vh;
    width: 100%;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
}

.userInfo .login {
    height: 60vh;
    width: 90vh;
    background-color: rgb(131, 130, 130);
    border-radius: .33vh;
}

.login .left {
    height: 100%;
    width: 50%;
    background-color: green;
    padding: 1.5vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.login .left .google_login {
    background-color: #f3f3f3;
    width: 70%;
    padding: 1vh;
    border-radius: 3vh;
    margin-top: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.google_login img {
    object-fit: cover;
    height: 2vh;
}

.google_login h3 {
    font-size: 1.3vh;
    text-transform: capitalize;
    font-family: roboto;
    font-weight: 400;
}
